@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fondamento&display=swap");
body {
  background-color: rgb(29, 29, 87);
}
.top {
  font-family: "Fondamento", cursive;
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 20px;
  font-size: 100px;
  font-weight: 700;
  border-bottom: solid red 1px;
}
.articles {
  padding: 30px;
  margin: 30px;
}

.pagination a:link,
a:visited {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}

.pagination a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1300px) {
  .top {
    font-size: 80px;
  }
}

@media only screen and (max-width: 1050px) {
  .top {
    font-size: 60px;
  }
  .articles {
    margin: 20px;
  }
  .articles h4 {
    font-size: 20px;
  }
  .articles h5 {
    font-size: 15px;
  }
  .articles p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 800px) {
  .top {
    font-size: 50px;
  }
  .articles h4 {
    font-size: 15px;
  }
  .articles h5 {
    font-size: 12px;
  }
  .articles p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .top {
    width: 75%;
    padding: 15px;
    padding-top: 20px;
  }
  .articles h4 {
    font-size: 30px;
  }
  .articles h5 {
    font-size: 20px;
  }
  .articles p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 550px) {
  .top {
    font-size: 40px;
    width: 80%;
  }
  .top h5 {
    font-size: 15px;
  }
  .articles {
    margin: 10px;
  }
  .articles h4 {
    font-size: 25px;
  }
  .articles h5 {
    font-size: 15px;
  }
  .articles p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 445px) {
  .top {
    font-size: 35px;
  }
}

@media only screen and (max-width: 370) {
  .top {
    font-size: 30px;
  }
  .articles h4 {
    font-size: 20px;
  }
}
